@import '~app/shared/styles/variables';

.word-pairs-header {
  margin-left: 2em;
  margin-top: 2em;
}

.word-pairs-body {
  display: flex;
  flex-direction: row;

  app-word-pairs-form {
    flex-grow: 0;
  }

  app-word-pairs-table {
    flex-grow: 2;
  }

}
