@import '~app/shared/styles/variables';

.word-pairs-body {
  display: flex;
  flex-direction: row;

  app-word-pairs-form {
    flex-grow: 0;
    // min-width: 30em;
  }

  app-word-pairs-table {
    flex-grow: 2;
  }

}
