@import '~app/shared/styles/variables';

.left-menu-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0.2em 0em 1em;
  height: 100%;

  &__item {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    border-radius: 0.3em;

    &:hover {
      cursor: pointer;
      background-color: $light-blue;
    }

    &:focus{
      outline: none;
    }
  }

  .active {
    background-color: $light-blue;
  }
}

