@import '~app/shared/styles/variables';

.vocabulary-container {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  height: calc(100% - 1.5rem);
  box-shadow: 2px 0 8px;
  box-sizing: border-box;

  .active {
    background-color: $light-blue;
    color: $white;
  }

  &__header {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 2px -2px;

    &__item {
      flex-grow: 1;
      text-align: center;
      padding: 1rem;
      margin: 0.3rem;
      border-radius: 4px;

      &:focus{
        outline: none;
      }

      &:hover {
        cursor: pointer;
        background-color: $light-blue;
        color: $white;
      }
    }

  }
}
