$light-blue: #5292f1;
$dark-blue: #0047b3;

$light-grey: #f2f2f2;
$grey: #969292;
$dark-grey: #5f5656;
$border-grey: #888888;

$white: #fff;

$light-red: #e63e28;
$green: #64e628;

$header-height: 60px;
