@import './shared/styles/variables.scss';

.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: $header-height 1fr;

  grid-template-areas: 
    "left-menu top-menu"
    "left-menu router-outlet";

  &__left-menu {
    height: 100%;
    grid-area: left-menu;
  }

  &__top-menu {
    height: 100%;
    grid-area: top-menu;
  }

  &__router-outlet {
    height: 100%;
    grid-area: router-outlet;
  }
}
