@import '~app/shared/styles/variables';

.table-container {
  display: flex;
  flex-direction: column;
  margin: 2em;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    .table-name {
      font-weight: bold;
      font-size: 120%;
    }

    .table-records-per-page {
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    border: 1px solid black;

    &__column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      border: 1px solid black;

      div:nth-child(even) {background-color: $light-grey;}
    }

    &__header-cell {
      font-weight: bold;
      padding: 0.2em;
      text-align: center;
    }

    &__body-cell {
      padding: 0.2em;
      flex-grow: 1;
    }
  }

  &__footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    .table-pagination {
      display: flex;
      justify-content: flex-end;
      font-size: 120%;

      &__records-displayed {

      }

      &__total-records {

      }

      &__arrow-icons {
        fa {
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
      }
    }
  }
}
