@import '~app/shared/styles/variables';

.left-menu-container {
  flex-direction: column;
  box-shadow: 2px 0 4px;
  height: 100%;
  padding: 0.1em;

  &__title {
    display: None;

    @media #{$information-phone} {
      display: block;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      margin-top: 8px;
      margin-bottom: 16px; 
    }
  }

  &__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    margin: 0.1rem;

    &:hover {
      cursor: pointer;
      background-color: $light-blue;
      color: $white;
    }

    &:focus{
      outline: none;
    }
  }

  .active {
    background-color: $light-blue;
    color: $white;
  }
}

