.application-container {
  height: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100wh;
}

app-left-menu {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.application-route-container {
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
