@import '~app/shared/styles/variables';

.left-menu-container {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 4px;
  height: 100%;

  &__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    margin: 0.1rem;

    &:hover {
      cursor: pointer;
      background-color: $light-blue;
      color: $white;
    }

    &:focus{
      outline: none;
    }
  }

  .active {
    background-color: $light-blue;
    color: $white;
  }
}

