
<div class="table-container">
  <div class="table-container__header">
    <div class="table-name">{{ tableName }} Table</div>
    <div class="table-records-per-page">
      <select
        class="btn-pagination-select"
        (change)="onPageSizeSelectionChange($event.target.value)"
        [ngModel]="(tableState | async).urlParams.pageSize">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>

  <div class="table-container__body">
    <div
      class="table-container__body__header-row"
    >
      <div
        class="table-container__body__header-cell"
        *ngFor="let column of columns"
        [style.width]="column.width"
      >
        {{ column.displayName }}
        <fa
          [name]="(tableState | async).urlParams.getSortIcon(column.name)"
          *ngIf="column.sortable"
          (click)="onSetSort(column.name)">
        </fa>
      </div>
    </div>
    <div
      class="table-container__body__row"
      *ngFor="let dataRow of (tableState | async).tableData; let i = index"
      (click)="onSelectRow(i)"
      [ngClass]="{'active': (tableState | async).selectedRow === i}"
    >
      <div
        class="table-container__body__cell"
        *ngFor="let column of columns"
        [style.width]="column.width"
      >
        {{ column.property ? dataRow[column.name][column.property] : dataRow[column.name] }}
      </div>
    </div>
  </div>

  <div class="table-container__footer">
    <div class="table-pagination">
      <div class="table-pagination__records-displayed">
          {{ (tableState | async).urlParams.startOffset }}
          -
          {{ (tableState | async).urlParams.endOffset }}
      </div>
      <div>&nbsp;of&nbsp;</div>
      <div class="table-pagination__total-records">
          {{ (tableState | async).urlParams.totalRecords }}
      </div>
      <div class="table-pagination__arrow-icons">
        <fa
          name="angle-double-left"
          (click)="onFirstPage()"></fa>
        <fa
          name="angle-left"
          (click)="onPreviousPage()"></fa>
        <fa
          name="angle-right"
          (click)="onNextPage()"></fa>
        <fa
          name="angle-double-right"
          (click)="onLastPage()"></fa>
      </div>
    </div>
  </div>
</div>
