@import '../../../shared/styles/variables.scss';

.progress-container {
  height: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  box-shadow: 2px 0 8px;
  box-sizing: border-box;

  &__nav-panel {
    display: flex;
    justify-content: flex-end;

    &--correct {
      padding: 0.5em;
    }

    &--incorrect {
      padding: 0.5em;
    }

    &--total {
      padding: 0.5em;
    }
  }

  &__group {
    padding: 1em;
  }

  &__btn-group {
    display:flex;
    justify-content: center;
  }

  &__correct-text {
    color: $green;
  }

  &__incorrect-text {
    color: $light-red;
  }
}