<div class="progress-container">
  <div class="progress-container__group">
    <div class="progress-container__label">{{ getDisplayValue('fromDisplayValue') }}</div>
    <input 
      class="input-primary progress-container__input"
      disabled
      [value]="getValue('fromValue')"
    >
  </div>
  <div class="progress-container__group">
    <div class="progress-container__label">{{ getDisplayValue('toDisplayValue') }}</div>
    <input 
      class="input-primary progress-container__input"
      [(ngModel)]="valueToSubmit"
    >
  </div>

  <div 
    class="progress-container__group"
    *ngIf="comparisonResultText"
  >
    <div class="progress-container__label">Result</div>
    <input 
      class="input-primary progress-container__input"
      disabled
      [(ngModel)]="comparisonResultText"
      [ngClass]="{ 
        'progress-container__correct-text': comparisonResultText.startsWith('Correct!'), 
        'progress-container__incorrect-text': comparisonResultText.startsWith('Incorrect!') 
      }"
    >
  </div>

  <div class="progress-container__btn-group">
    <button 
      class="btn-primary"
      type="button"
      (click)="onSubmitButtonClick()"
      *ngIf="!comparisonResultText"
    >
      Submit
    </button>

    <button 
      class="btn-primary"
      type="button"
      (click)="onNextButtonClick()"
      *ngIf="comparisonResultText"
    >
      Next
    </button>
  </div>
</div>