.progress-container {
  height: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  box-shadow: 2px 0 8px;
  box-sizing: border-box;

  &__group {
    padding: 1em;
  }

  &__btn-group {
    display:flex;
    justify-content: center;
  }
}