@import '~app/shared/styles/variables';

.btn-pagination-select {
  width: 5rem;
  background-color: $white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  margin: 0.8rem;
  border:0;
  outline:0;
  box-shadow: 0 2px 2px;
}

.btn-primary {
  width: 8rem;
  height: 3rem;
  background-color: $light-blue;
  font-size: 95%;
  color: $white;
  cursor: pointer;
  box-shadow: 0 2px 2px;
  border-radius: 8px;
  margin: 0.5rem;
}

.btn-delete {
  width: 8rem;
  height: 3rem;
  background-color: $light-red;
  font-size: 95%;
  color: $white;
  cursor: pointer;
  box-shadow: 0 2px 2px;
  border-radius: 8px;
  margin: 0.5rem;
}

.btn-select-primary {
  width: 8rem;
  height: 3rem;
  background-color: $white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  margin: 0.8rem;
  border:0;
  outline:0;
  box-shadow: 0 2px 2px;
}


.input-primary {
  font-size: 105%;
  width: 100%;
  height: 2.7em;
  box-shadow: 0 2px 2px;
  border-radius: 8px;
  padding-left: 0.5rem;
}
