@import '~app/shared/styles/variables';

.btn-pagination-select {
  width: 5em;
  background-color: $white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  margin: 0.8em;
  border:0em;
  outline:0em;
  box-shadow: 0em 0.1em 0.1em;
}

.btn-primary {
  width: 8em;
  height: 3em;
  background-color: $light-blue;
  font-size: 95%;
  color: $white;
  cursor: pointer;
  box-shadow: 0em 0.1em 0.1em;
  border-radius: 0.3em;
  margin: 0.5em;
}

.btn-delete {
  width: 8em;
  height: 3em;
  background-color: $light-red;
  font-size: 95%;
  color: $white;
  cursor: pointer;
  box-shadow: 0em 0.1em 0.1em;
  border-radius: 0.3em;
  margin: 0.5em;
}

.btn-select-primary {
  width: 8em;
  height: 3em;
  background-color: $white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  margin: 0.8em;
  border:0em;
  outline:0em;
  box-shadow: 0em 0.1em 0.1em;
}


.input-primary {
  font-size: 105%;
  width: 100%;
  height: 2.7em;
  box-shadow: 0em 0.1em 0.1em;
  border-radius: 0.3em;
}
