@import '~app/shared/styles/variables';

.btn-pagination-select {
  width: 5em;
  background-color: $white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  border:0em;
  outline:0em;
  box-shadow: 0em 0.1em 0.1em;
}
