.form-container {
    display: flex;
    flex-direction: column;
    padding: 5em;
}

button {
    cursor: pointer;
    background: #efefef;
    &.save-button {
        width: 15em;
    }
    &.remove-button,
    &.edit-button {}
}

h4 {
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 0.33em;
}

ul {
    list-style: none;
    li {
        margin-top: 0.3em;
    }
}
